.Description{
    
    width: 150vh;
    height: 100vh;
    background-color: orange;
    border-radius: 10px;
    position: relative;
    left: 5%;
    text-align: center;
    align-content: center;
 
}

.Showcase{
    width: 699vh;
    height: 1013vh;
    background-color: orange;
    border-radius: 10px;
    position: absolute;
    left: 50%; 
    bottom: 1%;
    top: 1%;


}

img{
    position: absolute;
    left: 3%;
    bottom: 5%;
/* also found this function on w3schools, very easy to use as well */
    box-shadow: 6px 6px 12px rgba(0,0,0,0.6);
    padding:1%;
}


/* Taken from W3schools and edited upon */
    .tab {

        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #c29a65;
        }


    .tab button {

        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        }


    .tab button:hover {

        background-color: #eedf8e;
        }


    .tab button.active {

        background-color: #ccc;
        }


    .tabcontent {

        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
        } 