.section1{
    position:relative;
    left: 23vw;
    top: 1vh;
    height: 96vh;
    width: 50vw;
    background-color: rgb(90, 151, 72);
    border-radius: 3%;

}

h1{
    position:relative;
    bottom: 40vh;
    text-align: center;
    text-indent:-30vw;
    
}

img{
    border-radius: 3%;
    position: relative;
    height: 20vh;
    width:20vw;
}

.Text{
    position:relative;
    bottom:85vh;
    left:25vw;
    word-wrap:normal;
    font-size:larger;

}

button{
    position:relative;
    bottom:20vh;
    left:25vw;


}

.DoomTitle{
    position: relative;
    top: 10vh;

}