.section1{
    position:relative;
    left: 23vw;
    top: 1vh;
    height: 96vh;
    width: 50vw;
    background-color: rgb(200, 206, 118);
    border-radius: 3%;

}

h1{
    position:relative;
    bottom: 50vh;
    text-align: center;
    text-indent:-30vw;
    
}

img{
    border-radius: 3%;
}

.Text{
    position:relative;
    bottom:85vh;
    left:25vw;
    word-wrap:normal;
    font-size:larger;

}

button{
    position:relative;
    bottom:17vh;
    left:25vw;


}

